@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .container-sm {
        width: min(95%, 600px);
        margin: 0 auto;
    }
    .label{
      @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
    }
    .labelInput{
      @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primarioDarken focus:border-primarioDarken
      block w-full p-2.5
    }

    .alerta-error {
      @apply pl-[30px] pr-[15px] py-[15px] uppercase m-0 text-xs
      font-bold bg-red-200 border-l-8 border-red-800

    }
    .alerta-exito {
      @apply pl-[30px] pr-[15px] py-[15px] uppercase m-0 text-xs
      font-bold bg-green-200 border-l-8 border-green-800

    }
    .tag{
      box-shadow: #0066e6 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, #00c8c2 10px -10px, rgb(255, 255, 255)
      20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 85, 85) 30px -30px;

      @apply bg-white p-[10px] rounded text-sm font-bold mt-6
    }
    .shadow-form{
      box-shadow: #0066e6 0px 0px 0px 2px inset,
            rgb(255, 255, 255) 10px -10px 0px -3px,
            rgb(31, 193, 27) 10px -10px,
            rgb(255, 255, 255) 20px -20px 0px -3px,
            rgb(255, 217, 19) 20px -20px,
            rgb(255, 255, 255) 30px -30px 0px -3px,
            rgb(255, 156, 85) 30px -30px,
            rgb(255, 255, 255) 40px -40px 0px -3px,
            rgb(255, 85, 85) 40px -40px;
    }

     /* clases de js */
    .paginacion{
    @apply mt-[50px] mb-[30px] flex sm:justify-end justify-center flex-wrap gap-[10px] text-primario

    }
    .paginacion a:not([class]){
        @apply border-2 border-primario rounded-lg p-[10px] hover:bg-primario hover:text-white
    }

    .pagina-numeros {
    @apply  sm:flex hidden justify-center gap-2 items-center font-bold
    }
    .pagina-numeros a{
      @apply  hover:text-gris
    }
    .pagina-numeros span {
      @apply  text-gris
    }

    .horas-seleccionada{
      @apply bg-primarioDarken text-white
    }
    .hora-abilitada{
      @apply border-primarioDarken
    }
    .hora-desabilitada{
      @apply  border-gris text-gris opacity-50 cursor-not-allowed
     }

     .li-ponentes {
        @apply text-primarioDarken border-2 border-primarioDarken p-[10px] rounded-lg text-center hover:cursor-pointer
     }

     .ponente-seleccionado{
        @apply bg-primarioDarken text-white
     }

}